
                                                /* HEADER SECTION  */

header{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.countries__list__dropdown{
    background-color: #fff;
}

@media (max-width: 480px) {
    header{
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center!important;

    }
    .logo{
       margin: auto;
        /* margin-left: 20px; */
    }
    .countries__list{
        margin: auto;
         /* margin-left: 100px; */
    }
}