
                                                /* HEADER SECTION  */

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

header > .countries__list{
    margin-top:0px; 
}
.countries__list__dropdown{
    background-color: #fff;
}



/* @media only screen and (max-width:990px){
    header{
        width:100%!important;
}
}

@media only screen and (max-width:415px){
    .logo h1{
        font-size: x-large;
}
} */

