.info{
    flex:1
}
  
  .info:not(:last-child) {
    margin-right: 10px;
  }
  
  .infoBox--selected {
    border-top: 10px solid greenyellow;
  }
  
  .infoBox--red {
    border-color: red;
  }
  
  .infoBox__cases--green {
    color: lightgreen !important;
  }
  
  .infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
  

/* .info{
    display: flex;
    width:320px;
}

.infoBox--selected{
    border-top:10px solid greenyellow;
}

.infoBox--red{
    border-color:red;
}

.infoBox--cases{
    color:red
}
.infoBox--green--cases{
    color:greenyellow;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
  
@media only screen and (max-width:990px){
    .info{
        width:100%;
        margin: 0px 20px;
    }
}

@media only screen and (max-width:415px){
    .info{
        margin: 10px 0px;
}
} */


