body{
  background-color: #f6f6f6;

}
.App{
  border: 1px solid black;
}

.app__stats{
  display: flex;
  border: 1px solid red;
  margin:50px auto;
  width:1077px;
  justify-content: space-between;
}



