body{
  background-color: #f6f6f6;

}
.App{
  padding:10px;
}

.app__stats{
  display: flex;
  margin:0px auto;
  width:1077px;
  justify-content: space-between;
}

.app__chart{
  display: flex;
  width:1077px;
  margin:50px auto;
  justify-content: center;
  box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.19);
}


@media (max-width:990px){
  
  .app__stats{
    width:100%;
  }
  .app__chart{
    width:100%;
  }
}

@media only screen and (max-width:415px){
  .app__stats{
    flex-direction: column;
  }
}